<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script>
            function countDown(){
                var time=document.getElementById("Time");
                if(time.innerHTML == 0){
                    window.location.href="/";
                }
                else{
                    time.innerHTML=time.innerHTML-1;
                }
            }
            window.setInterval("countDown()",1000);
        </script>
    </head>
    <body>
        <title>LoginFailure</title>
        <h1>You've failed to login!</h1>
        <p>The system will automatically redirect to the login page after 2 seconds.</p>
        <font ><p id="Time">2</p></font>
        <p>If no response, please click:<a href="/">login link</a></p>
    </body>
</html>